<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>

<body>

    <div th:each="user : ${foundUsers}">
        <a href="#" class="list-group-item list-group-item-action border-0">
            <button class="badge bg-success float-right btn-add-friend">Add</button>
            <div class="d-flex align-items-start">
                <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1"
                    alt="Vanessa Tucker" width="40" height="40">
                <div class="flex-grow-1 ml-3">
                    <p th:text="${user.fullName}"></p>
                    <div class="small">
                        <span class="fas fa-circle" th:class="${user.online} ? 'chat-online' : 'chat-offline'"></span>
                        <span th:text="${user.online} ? 'Online' : 'Offline'"></span>
                    </div>
                </div>
            </div>
        </a>
    </div>

</body>

</html>
