<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Search Results</title>
</head>

<body>
	<div th:each="user : ${foundUsers}">
		<a href="#" class="list-group-item list-group-item-action border-0">
			<button th:id="'btn-add-friend-' + ${user.phoneNumber}" class="badge bg-success float-right btn-add-friend"
				th:data-receiver="${user.phoneNumber}">Add</button>
			<!-- Thêm thuộc tính th:id để định danh nút "Add Friend" dựa trên số điện thoại của người dùng -->

			<div class="d-flex align-items-start">
				<img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1"
					alt="Vanessa Tucker" width="40" height="40">
				<div class="flex-grow-1 ml-3">
					<p th:text="${user.fullName}"></p>
					<div class="small">
						<span class="fas fa-circle" th:class="${user.online} ? 'chat-online' : 'chat-offline'"></span>
						<span th:text="${user.online} ? 'Online' : 'Offline'"></span>
					</div>
				</div>
			</div>
		</a>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$('.btn-add-friend').click(function () {
				var buttonId = $(this).attr('id'); // Lấy id của nút "Add Friend"
				var receiverPhoneNumber = $(this).data('receiver'); // Lấy số điện thoại của người dùng mục tiêu
				$.ajax({
					type: 'POST',
					url: '/addFriend',
					data: {receiverPhoneNumber: receiverPhoneNumber},
					success: function () {
						alert('Friend request sent!');
						$('#' + buttonId).text('Sent'); // Thay đổi nội dung của nút thành "Sent" khi đã gửi thành công
						$('#' + buttonId).prop('disabled', true); // Vô hiệu hóa nút sau khi đã gửi thành công
					},
					error: function () {
						alert('Error sending friend request!');
					}
				});
			});
		});
	</script>

</body>



</html>